@media screen and (max-width: 590px) {
  body {
    display: flex;
    flex-direction: column;
    margin: 10px;
    justify-content: center;
    align-items: center;
  }

  .search,
  .profile {
    width: 20px;
    height: 20px;
  }

  #mobile {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  .j {
    width: 100%;
  }

  .dropdown-content {
    display: none;
  }

  #desktop {
    display: none;
  }

  .microsoft {
    width: 130px;
  }

  .header-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }

  .header-right {
    display: flex;
    flex-direction: row;
  }

  .desktop-img {
    display: none;
  }

  .mySlides {
    display: none;
  }

  .mySlides img {
    vertical-align: middle;
  }

  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }

  .text {
    color: #110101;
    font-size: 15px;
    padding-left: 10px;
    text-align: left;
    height: 28vh;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0px 3px 7px 0 rgba(0, 0, 0, 0.5);
  }

  .noncing {
    font-size: 28px;
    margin-bottom: 10px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }

  .new-mic {
    font-size: 16px;
    margin-bottom: 15px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }

  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

  .persons a {
    text-decoration: none;
    color: blue;
    font-size: 16px;
  }

  .content-outlook {
    margin-bottom: 70px;
  }

  .person {
    width: 160px;
    margin-right: 20px;
    border: 1px solid black;
    height: 35px;
    font-size: 16px;
    background-color: blue;
    color: white;
    border: none;
  }

  .dot {
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: white;
    border-radius: 50%;
    border: 1px solid black;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .active {
    background-color: #717171;
  }

  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }
  .donth {
    margin: 15px;
  }

  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 25%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: rgb(19, 6, 6);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  .content-futures {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .microsoft-design img {
    width: 100%;
  }

  .microsoft-design {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .designer {
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .next-generation {
    margin-bottom: 10px;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

  }

  .link {
    margin-bottom: 10px;
  }

  .link a {
    text-decoration: none;
    font-size: 18px;
  }

  .gen div {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .topic {
    font-size: 28px;
    margin-bottom: 20px;
  }

  .business1 img {
    width: 100%;
  }

  .vs {
    font-size: 22px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .ms {
    font-size: 18px;
    font-weight: 0;
  }

  .siin {
    margin-top: 15px;
    margin-bottom: 35px;
  }

  .siin a {
    text-decoration: none;
    font-size: 18px;
  }

  .followw {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .back {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
    flex-direction: row;
  }

  .back div button {
    background-color: blue;
    border: none;
    height: 5vh;
    width: 15vh;
    border-radius: 3px;
    color: white;
  }

  .linkedin {
    width: 40px;
    height: 40px;
  }

  .microS {
    display: flex;
    margin: 10px;
    color: #969494;
    margin-bottom: 30px;
    width: 230px;
    flex-direction: column;
  }

  .microS div {
    font-size: 20px;
    font-weight: bold;
    color: #717171;
  }

  .footer-macs {
    display: flex;
    flex-wrap: wrap;
  }

  .content-footer {
    display: flex;
    flex-direction: column;
  }

  .footer1 img {
    width: 30px;
    height: 30px;
  }

  .footer1 div {
    display: flex;
    color: #717171;
    align-items: center;
  }

  .footer2 span {
    margin-left: 10px;
    width: 120px;
  }

  .footer2 {
    font-size: 14px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
    color: #717171;
  }

}
